[submodule "Silicon/RISC-V/ProcessorPkg/Library/RiscVOpensbiLib/opensbi"]
  path = Silicon/RISC-V/ProcessorPkg/Library/RiscVOpensbiLib/opensbi
  url = https://github.com/riscv/opensbi
[submodule "edk2"]
  path = edk2
  url = git@github.com:/tianocore/edk2.git
  branch = master
